<% provide(:title, 'About') %>
<h1>About Option Toolkit</h1>
<p>
Option Toolkit: your first stop before executing any option trade
Tools for trade analysis, exit strategies, current position analysis
</p>


